In [1]:
import pandas as pd

/tmp/ipykernel_5566/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("diabetes_modified.csv")

In [3]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,Diabetic
1,1.0,85.0,66.0,29.0,0.0,26.6,NaN,31.0,Non-Diabetic

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               762 non-null    float64
 1   Glucose                   751 non-null    float64
 2   BloodPressure             751 non-null    float64
 3   SkinThickness             753 non-null    float64
 4   Insulin                   765 non-null    float64
 5   BMI                       739 non-null    float64
 6   DiabetesPedigreeFunction  739 non-null    float64
 7   Age                       766 non-null    float64
 8   Outcome                   768 non-null    object
dtypes: float64(8), object(1)
memory usage: 54.1+ KB

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,762.000000,751.000000,751.000000,753.000000,765.000000,739.000000,739.000000,766.000000
mean,3.824147,120.719041,69.102530,20.540505,79.905882,32.032882,0.471766,33.227154
std,3.360596,31.958175,19.282846,15.912954,115.431340,7.901092,0.326533,11.755153
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.350000,0.245000,24.000000
50%,3.000000,117.000000,72.000000,23.000000,29.000000,32.300000,0.375000,29.000000
75%,6.000000,140.000000,80.000000,32.000000,128.000000,36.600000,0.621500,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [6]:
df.shape

(768, 9)

In [7]:
df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                         float64
Outcome                      object
dtype: object

### groupBy()

In [8]:
summary_statistics = df.groupby('Outcome')['Age'].agg(['mean', 'median', 'min', 'max', 'std','count'])

summary_statistics

                   mean  median   min   max        std  count
Outcome
Diabetic      37.056391    36.0  21.0  70.0  10.955167    266
Non-Diabetic  31.190000    27.0  21.0  81.0  11.667655    500