In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")

In [3]:
df.head

<bound method NDFrame.head of                                            Title  title_year     budget  \
0                                     La La Land        2016   30000000
1                                       Zootopia        2016  150000000
2                                           Lion        2016   12000000
3                                        Arrival        2016   47000000
4                          Manchester by the Sea        2016    9000000
..                                           ...         ...        ...
95                                      Whiplash        2014    3300000
96                               Before Midnight        2013    3000000
97    Star Wars: Episode VII - The Force Awakens        2015  245000000
98  Harry Potter and the Deathly Hallows: Part I        2010  150000000
99                       Tucker and Dale vs Evil        2010    5000000

        Gross              actor_1_name        actor_2_name  \
0   151101803              Ryan Gosling          Emma Stone
1   341268248          Ginnifer Goodwin       Jason Bateman
2    51738905                 Dev Patel       Nicole Kidman
3   100546139                 Amy Adams       Jeremy Renner
4    47695371             Casey Affleck  Michelle Williams
..        ...                       ...                 ...
95   13092000              J.K. Simmons     Melissa Benoist
96    8114507  Seamus Davey-Fitzpatrick        Ariane Labed
97  936662225               Doug Walker          Rob Walker
98  296347721              Rupert Grint          Toby Jones
99     223838            Katrina Bowden        Tyler Labine

              actor_3_name  actor_1_facebook_likes  actor_2_facebook_likes  \
0               AmiÃ©e Conn                   14000                 19000.0
1               Idris Elba                    2800                 28000.0
2              Rooney Mara                   33000                 96000.0
3          Forest Whitaker                   35000                  5300.0
4            Kyle Chandler                     518                 71000.0
..                     ...                     ...                     ...
95            Chris Mulkey                   24000                   970.0
96  Athina Rachel Tsangari                     140                    63.0
97                       0                     131                    12.0
98            Alfred Enoch                   10000                  2000.0
99          Chelan Simmons                     948                   779.0

    actor_3_facebook_likes  ...  Votes3044M Votes3044F Votes45A Votes45AM  \
0                      NaN  ...         7.9        7.8      7.6       7.6
1                  27000.0  ...         7.8        8.1      7.8       7.8
2                   9800.0  ...         7.9        8.2      8.0       7.9
3                      NaN  ...         7.8        7.8      7.6       7.6
4                   3300.0  ...         7.7        7.7      7.6       7.6
..                     ...  ...         ...        ...      ...       ...
95                   535.0  ...         8.3        8.2      8.1       8.1
96                    48.0  ...         7.8        7.6      7.3       7.4
97                     0.0  ...         7.9        8.2      7.9       7.8
98                  1000.0  ...         7.3        8.1      7.4       7.3
99                   440.0  ...         7.5        7.7      7.5       7.4

    Votes45AF  Votes1000  VotesUS  VotesnUS  content_rating    Country
0         7.5        7.1      8.3       8.1           PG-13        USA
1         8.1        7.6      8.0       8.0              PG        USA
2         8.4        7.1      8.1       8.0           PG-13  Australia
3         7.7        7.3      8.0       7.9           PG-13        USA
4         7.6        7.1      7.9       7.8               R        USA
..        ...        ...      ...       ...             ...        ...
95        8.2        8.0      8.6       8.4               R        USA
96        7.2        7.0      8.0       7.9               R        USA
97        8.2        7.7      8.2       7.9           PG-13        USA
98        8.0        6.7      7.9       7.5           PG-13         UK
99        7.7        7.1      7.7       7.5               R     Canada

[100 rows x 62 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   100 non-null    object
 1   title_year              100 non-null    int64
 2   budget                  100 non-null    int64
 3   Gross                   100 non-null    int64
 4   actor_1_name            100 non-null    object
 5   actor_2_name            100 non-null    object
 6   actor_3_name            100 non-null    object
 7   actor_1_facebook_likes  100 non-null    int64
 8   actor_2_facebook_likes  99 non-null     float64
 9   actor_3_facebook_likes  98 non-null     float64
 10  IMDb_rating             100 non-null    float64
 11  genre_1                 100 non-null    object
 12  genre_2                 97 non-null     object
 13  genre_3                 74 non-null     object
 14  MetaCritic              95 non-null     float64
 15  Runtime                 100 non-null    int64
 16  CVotes10                100 non-null    int64
 17  CVotes09                100 non-null    int64
 18  CVotes08                100 non-null    int64
 19  CVotes07                100 non-null    int64
 20  CVotes06                100 non-null    int64
 21  CVotes05                100 non-null    int64
 22  CVotes04                100 non-null    int64
 23  CVotes03                100 non-null    int64
 24  CVotes02                100 non-null    int64
 25  CVotes01                100 non-null    int64
 26  CVotesMale              100 non-null    int64
 27  CVotesFemale            100 non-null    int64
 28  CVotesU18               100 non-null    int64
 29  CVotesU18M              100 non-null    int64
 30  CVotesU18F              100 non-null    int64
 31  CVotes1829              100 non-null    int64
 32  CVotes1829M             100 non-null    int64
 33  CVotes1829F             100 non-null    int64
 34  CVotes3044              100 non-null    int64
 35  CVotes3044M             100 non-null    int64
 36  CVotes3044F             100 non-null    int64
 37  CVotes45A               100 non-null    int64
 38  CVotes45AM              100 non-null    int64
 39  CVotes45AF              100 non-null    int64
 40  CVotes1000              100 non-null    int64
 41  CVotesUS                100 non-null    int64
 42  CVotesnUS               100 non-null    int64
 43  VotesM                  100 non-null    float64
 44  VotesF                  100 non-null    float64
 45  VotesU18                100 non-null    float64
 46  VotesU18M               100 non-null    float64
 47  VotesU18F               100 non-null    float64
 48  Votes1829               100 non-null    float64
 49  Votes1829M              100 non-null    float64
 50  Votes1829F              100 non-null    float64
 51  Votes3044               100 non-null    float64
 52  Votes3044M              100 non-null    float64
 53  Votes3044F              100 non-null    float64
 54  Votes45A                100 non-null    float64
 55  Votes45AM               100 non-null    float64
 56  Votes45AF               100 non-null    float64
 57  Votes1000               100 non-null    float64
 58  VotesUS                 100 non-null    float64
 59  VotesnUS                100 non-null    float64
 60  content_rating          100 non-null    object
 61  Country                 100 non-null    object
dtypes: float64(21), int64(32), object(9)
memory usage: 48.6+ KB

In [5]:
df.shape

(100, 62)